---
import { Image } from 'astro:assets';
import BasePill from '@components/base/BasePill.astro';

interface Props {
	id: string;
	class?: string;
	tags: string[];
	title: string;
	image?: any;
	demoLink: string;
	codeLink: string;
}

const { id, class: className, title, image, demoLink, codeLink, tags } = Astro.props;
---

<article
	id={id}
	class:list={[
		'[ portfolio-item ] [ box-shadow-md border-radius-lg p-md ]',
		className,
	]}
>
	<div class="portfolio-item__content">
		<div>
			{tags.map(tag => <BasePill id={tag} class="clr-darkest bg-light">{tag.toUpperCase()}</BasePill>)}
		</div>

		<div class="flow" style="--flow-spacer: var(--space-md)">
			<h3 class="heading-3">{title}</h3>
			<slot />
			<div class="flex-group">
				<a href={demoLink} class="btn">Live Demo</a>
				<a href={codeLink} class="btn-link">Show Code</a>
			</div>
		</div>
		
	</div>

	<div class="image-scroll-hover">
		{image && <Image src={image} alt="" />}
	</div>
	
</article>

<style lang="scss">
	@use '@styles/abstracts' as *;

	.portfolio-item {
		// height: fit-content;
		border: 1px solid var(--clr-light-neutral);

		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: repeat(2, min-content);
		grid-gap: var(--space-md);
		overflow: hidden;

		& > div:first-child {
			display: grid;
			grid-template-rows: subgrid;
			grid-row: span 2;
			grid-column: 1;
		}

		& > div:last-child {
			grid-row: 2;
			grid-column: 2;
		}

		& .portfolio-item__content > div:nth-child(2) {
			height: 350px;
			overflow-y: auto;
		}

		

		@media (width <= $breakpoint-small) {
			grid-auto-flow: row;

			// display: flex;
			// flex-direction: column;
			// justify-content: space-between;
			
			// & .portfolio-item__content {
			// 	gap: var(--space-md);
			// }
		}
	}
</style>
